In [1]:
#Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Holidays Data

In [2]:
#Read Dataset and Get Inital few rows and Dataset dataType information
holidaysData = pd.read_csv('holidays_events.csv')

holidaysData.head(), holidaysData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

(         date     type    locale locale_name                    description  \
 0  2012-03-02  Holiday     Local       Manta             Fundacion de Manta
 1  2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
 2  2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
 3  2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
 4  2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

    transferred
 0        False
 1        False
 2        False
 3        False
 4        False  ,
 None)

In [5]:
# Check for missing values
missing_values = holidaysData.isnull().sum()
has_nan = holidaysData.isnull().values.any()


print("Missing Values in Holidays Data \n", missing_values)
print("\n\nNaN Values in Holidays Data \n", has_nan)

Missing Values in Holidays Data
 date           0
type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64


NaN Values in Holidays Data
 False

In [10]:
#Unique Values
print("Unique Holiday Types \n",holidaysData['type'].unique())
print("\n\nUnique Holiday locale \n",holidaysData['locale'].unique())
print("\n\nUnique Holiday locale name \n",holidaysData['locale_name'].unique())
print("\n\nUnique Holiday transferred \n",holidaysData['transferred'].unique())

Unique Holiday Types
 ['Holiday' 'Transfer' 'Additional' 'Bridge' 'Work Day' 'Event']


Unique Holiday locale
 ['Local' 'Regional' 'National']


Unique Holiday locale name
 ['Manta' 'Cotopaxi' 'Cuenca' 'Libertad' 'Riobamba' 'Puyo' 'Guaranda'
 'Imbabura' 'Latacunga' 'Machala' 'Santo Domingo' 'El Carmen' 'Cayambe'
 'Esmeraldas' 'Ecuador' 'Ambato' 'Ibarra' 'Quevedo'
 'Santo Domingo de los Tsachilas' 'Santa Elena' 'Quito' 'Loja' 'Salinas'
 'Guayaquil']


Unique Holiday transferred
 [False  True]

In [11]:
holidaysData['is_transfered'] = (holidaysData['type'] == 'Transfered').astype(int)

In [12]:
holidaysData.head()

,date,type,locale,locale_name,description,transferred,is_transfered
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False,0
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False,0
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False,0
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False,0
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False,0

In [13]:
# Convert 'date' column to datetime format
holidaysData['date'] = pd.to_datetime(holidaysData['date'])

# Add 'day_of_week' column (0 for Monday, 6 for Sunday)
holidaysData['day_of_week'] = holidaysData['date'].dt.dayofweek

# Add 'is_weekend' column (1 for Saturday or Sunday, 0 otherwise)
holidaysData['is_weekend'] = (holidaysData['date'].dt.dayofweek >= 5).astype(int)

holidaysData.head()

,date,type,locale,locale_name,description,transferred,is_transfered,day_of_week,is_weekend
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False,0,4,0
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False,0,6,1
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False,0,3,0
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False,0,5,1
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False,0,5,1

In [14]:
#Save cleaned dataset into new CSV file for ETL process
# import os

# os.makedirs('CleanData', exist_ok=True)
# file_path = 'CleanData/new_holiday_dataset.csv'
# holidaysData.to_csv(file_path, index=False)

# print(f"Dataset saved to {file_path}")

Dataset saved to CleanData/new_holiday_dataset.csv

In [17]:
holidaysData['date'] = pd.to_datetime(holidaysData['date'])

# Find duplicated dates
holidaysData[holidaysData.duplicated(subset=['date'], keep=False)]

,date,type,locale,locale_name,description,transferred,is_transfered,day_of_week,is_weekend
7,2012-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False,0,0,0
8,2012-06-25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False,0,0,0
9,2012-06-25,Holiday,Local,Machala,Fundacion de Machala,False,0,0,0
10,2012-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False,0,1,0
11,2012-07-03,Holiday,Local,El Carmen,Cantonizacion de El Carmen,False,0,1,0
...,...,...,...,...,...,...,...,...,...
319,2017-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False,0,0,0
341,2017-12-08,Holiday,Local,Loja,Fundacion de Loja,False,0,4,0
342,2017-12-08,Transfer,Local,Quito,Traslado Fundacion de Quito,False,0,4,0
344,2017-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False,0,4,0
345,2017-12-22,Additional,National,Ecuador,Navidad-3,False,0,4,0

In [18]:
new_holiday_dataset = holidaysData
holidaysData['date'] = pd.to_datetime(holidaysData['date'])

# Remove duplicates and keep only the first occurrence
df_unique = holidaysData.drop_duplicates(subset=['date'])

df_unique

,date,type,locale,locale_name,description,transferred,is_transfered,day_of_week,is_weekend
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False,0,4,0
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False,0,6,1
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False,0,3,0
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False,0,5,1
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False,0,5,1
...,...,...,...,...,...,...,...,...,...
344,2017-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False,0,4,0
346,2017-12-23,Additional,National,Ecuador,Navidad-2,False,0,5,1
347,2017-12-24,Additional,National,Ecuador,Navidad-1,False,0,6,1
348,2017-12-25,Holiday,National,Ecuador,Navidad,False,0,0,0
349,2017-12-26,Additional,National,Ecuador,Navidad+1,False,0,1,0

In [20]:
df_unique['date'] = pd.to_datetime(df_unique['date'])

# Find duplicated dates
df_unique[df_unique.duplicated(subset=['date'], keep=False)]

/var/folders/81/wffr_1x51057xcbrk0fqdd540000gn/T/ipykernel_73880/1102338896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['date'] = pd.to_datetime(df_unique['date'])

Empty DataFrame
Columns: [date, type, locale, locale_name, description, transferred, is_transfered, day_of_week, is_weekend]
Index: []

In [21]:
#Save cleaned dataset into new CSV file for ETL process
import os

os.makedirs('CleanData', exist_ok=True)
file_path = 'CleanData/new_holiday.csv'
df_unique.to_csv(file_path, index=False)

print(f"Dataset saved to {file_path}")

Dataset saved to CleanData/new_holiday.csv